= simple_form_for @post do |f|
  .form-group
    = f.input :image, label_html: { class: 'form-control'}
  .form-group
    = f.input :caption, label_html: { class: 'form-control'}
  = f.submit label_html: { class: 'btn btn-primary'}